@import "http://fonts.fontstorage.com/import/poppins.css";
@import "http://fonts.fontstorage.com/import/nunito.css";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    padding: 20px 70px;
    color: #121212;
}

.current-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
    margin-right: 0;
}

.date-container #am-pm {
    font-size: 25px;
    margin-left: 0;
    left: 0;
}

.date-container .date {
    font-size: 1.5rem;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(162deg, #d1d1ff, #7583ff);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body ::-webkit-scrollbar {
    display: none;
}

.App {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 20px auto;
    padding: 20px 10px;
    border-radius: 20px;
    background: #00000052;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .App {
        width: 600px;
        height: 95%;
    }
}

.header {
    color: #fff;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

div.form {
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

form input {
    font-family: 'Nunito', sans-serif;
    color: #f4f4f4;
    font-weight: 700;
    font-size: medium;
    text-align: left;
    width: 100%;
    max-width: 200px;
    margin: 0;
    padding: 5px 2px;
    background: transparent;
    border: none;
    border-radius: none;
    border-bottom: 2px solid #bcc3ff;
    outline: none;
}

form input:focus {
    transition: 0.5s linear;
    border-bottom: 2px solid #ddddfa;
}

input::placeholder {
    color: #d4d3d3;
    font-weight: normal;
    font-size: medium;
    text-transform: lowercase;
}

form button {
    outline: none;
    background: transparent;
    width: 30px;
    margin: 0;
    height: 35px;
    cursor: pointer;
    border: 2px solid #bcc3ff;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 15px;
    color: #fff;
    transition: 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button:active {
    border: none;
    transform: translateY(4px);
    background-color: #ddddfa;
}

form button:hover {
    background-color: #ddddfa;
}

svg.svg-inline--fa path {
    transition: .2s linear;
}

form button:hover svg.svg-inline--fa path,
form button:active svg.svg-inline--fa path {
    filter: invert(100%);
}

.weather {
    margin: 0 auto;
    text-align: center;
    color: #f5f5f5;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.temp {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 0;
}

.condition {
    text-transform: capitalize;
}

.units {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.deg {
    margin: 0;
}

@media (max-width :700px) {
    .units {
        flex-direction: column;
    }
}

.units span {
    font-size: 16px;
}